node_modules
**/node_modules
dist
**/dist
.next
**/.next
.venv
**/.venv
__pycache__
**/__pycache__
*.pyc
coverage
**/coverage
*.log
.git
.github
*.md
.env
.env.*
!.env.example
prisma/migrations
*.tsbuildinfo
k6
docs
